<footer class="site-footer h-card">
    <div class="wrapper">

        <div class="" style="display: flex;justify-content: space-between;   font-size: 15px;color: #828282;margin-left: -15px;">
            <div class="footer-col one-half">
                <h2 class="footer-heading">{{ site.title | escape }}</h2>
            </div>
            <div class="footer-col one-half"  style="margin-top: 3px;">
                <a href="https://github.com/darwinia-network"
                   title="">
                    <svg class="svg-icon grey">
                        <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use>
                    </svg>
                    Darwinia Network
                </a>
            </div>
        </div>

    </div>

</footer>